:root {
    --space-top: 3rem;
    --space-bottom: 4rem;
    --space-side: 1rem;
    --space-page: var(--space-top) var(--space-side) var(--space-bottom);

    @media (min-width: 1000px) {
        --space-side: calc(1rem + 20vw);
    }
}
